* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TITLE FONTS 
font-family: 'Koulen', cursive;*/


/* BRAND COLORS 
color: #a43732;
color: #366464;*/

body {
    font-family: sans-serif;
    width: 100vw;
    overflow-x:hidden;
}


.section-text {
    color: #666;
    font-size: 18px;
    text-align: justify;
    line-height: 32px;
    letter-spacing: 0.4px;
}

.section-title {
    border-left: solid 6px #366464;
    font-size: 40px;
    padding-left: 20px;
    color: #a43732;
    margin-bottom: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Koulen', cursive;
    letter-spacing: 1.2px; 
}
.section-title-try {
    border-left: solid 6px #366464;
    font-size: 40px;
    padding-left: 20px;
    color: #a43732;
    /* margin-bottom: 40px; */
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Koulen', cursive;
    letter-spacing: 1.2px; 
    width: 1160px;
    margin: 0 auto 80px;
}
#for-small-screens {
    display: none;
}

.navbar {
    padding-left: 50px;
}
.navbar-nav {
    margin-left: 300px;
}
#nav-logo {
    width: 130px;
    height: 40px;
    position: relative;
    visibility: visible;
}

.btn-apply-nav {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 700;
    background-color: #366464;
    border: none;
    /* -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg); 
    transform: skew(-20deg); */
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 8px;
    
}

.btn-apply-nav:hover {
    color: #fff;
    background-color: #3e7777;
    cursor: pointer;
}

.btn-apply-nav:active {
    background-color: #305858;
}

.nav-item a.btn-apply-nav {
    margin-top: 20px;
}
/* NAVBAR */
.brand {
    color: #fff;
}

.navbar-light {
    box-shadow: rgba(50, 50, 50, 0.5) 0px 3px 10px;
}

#custom-color {
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
}
#custom-color:hover {
    transform: scale(1.12); 
    transition: 0.3s;
}
.custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
    color: rgb(142, 142, 142);
    font-size: 18px;
    font-weight: 600;
    margin-right: 25px;
}
/* LANDING PAGE */

.landing-page {
    width: 100vw;
    height: 90vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.1)), url(./IMG/l-page-truck1.jpg); */
    background-image:  linear-gradient(to left, rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0)), url(./IMG/road2.jpg);
    outline: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;

}

.landing-page-employment {
    width: 100vw;
    height: 90vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.1)), url(./IMG/l-page-truck1.jpg); */
    background-image:  linear-gradient(to left, rgba(143, 143, 143, 0.3),rgba(95, 95, 95, 0.3)), url(./wallpaperTruck/employment.jpg);
    outline: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;

}

.l-page-content {
    position: absolute; 
    top: 18vh;
    left: 10vw;
}

.l-page-content h2 {
    width: 550px;
    height: 200px;
    color: #fff;
    font-size: 65px;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-bottom: 45px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Koulen';
}

.l-page-content h2 span {
    color: #a43732;
}


.btn-apply {
    width: 250px;
    text-align: center;
    padding: 10px 35px;
    font-size: 23px;
    font-weight: 800;
    background-color: #366464;
    border: none;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    position: relative;
   
}

.btn-apply:hover {
    color: #fff;
    background-color: #3e7777;
    cursor: pointer;
}

.btn-apply:active {
    background-color: #305858;
}

.nav-custom {
    background-color: #fff;
}

.decor {
    width: 380px;
    margin: auto;
    position: relative;
    top: -110px;
}
.decor img {
    height: 100%;
    width: 100%;
}

/* WELCOME */
.welcome {
    width: 1160px;
    height: 400px;
    display: flex;
    margin: auto;
}

.welcome-text {
    width: 50%;
    margin-top: -80px;
    padding: 30px 40px 0 0;
}

.welcome-img {
    width: 50%;
}

.welcome-img img {
    height: 120%;
    width: 100%;
    padding-left: 70px;
    margin-top: -200px;
}

.addition-to-welcome {
    width: 1200px;
    height: 240px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: -100px;
}
.box {
    width: 31%;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    /* box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px; */
}
.add-to-wel-title {
    /* color: #444; */
    color: rgb(173, 55, 55);
}
.add-to-wel-text {
    color: #666;
}



.fa-solid {
    color: rgb(58, 108, 101);
    font-size: 40px;
} 
.heading-img {
    text-align: center;
    margin: 20px 0;
}
.add-to-wel-title, .add-to-wel-text {
    text-align: center;
}


/* OUR MISSION */
.mission-container {
    width: 1160px;
    height: 490px;
    display: flex;
    margin: auto;
}
#mission-title {
    display: block;
}

.mission-img {
    width: 185%;
    position: relative;
    top: -45px;
}

.mission-img > img {
    width: 100%;
    height: 100%;
}

.mission-text {
    margin-top: 30px;
    margin-left: 60px;
    padding: 20px;
}


/* SERVICES */
.services-container {
    width: 1160px;
    height:560px;
    margin: auto;

}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card {
    border: none;
    border-radius: 30px;
}
.card-img-1 {
    height: 350px;
    width: 240px;
    box-shadow: 5px 5px 20px #333;
    background-image: url(./wallpaperTruck/sander-yigin-ki19VJAGh6w-unsplash2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.card-img-2 {
    height: 350px;
    width: 240px;
    box-shadow: 5px 5px 20px #333;
    background-image: url(./wallpaperTruck/302367-Berserker.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    z-index: 0;
}
.card-img-3 {
    height: 350px;
    width: 240px;
    box-shadow: 5px 5px 20px #333;
    background-image: url(./wallpaperTruck/truck7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.card-img-4 {
    height: 350px;
    width: 240px;
    box-shadow: 5px 5px 20px #333;
    background-image: url(./wallpaperTruck/truck2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}


.card-content {
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    background: rgba(208, 44, 15, 0.5);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card h5 {
    font-size: 18px;
}

.card-content p {
    visibility: hidden;
    opacity: 0;
}

.card-img-1:hover {
    cursor: pointer;
    background-image:  linear-gradient(to bottom, rgba(138, 52, 52, 0.2),rgba(0, 0, 0, 0.86)), url(./wallpaperTruck/sander-yigin-ki19VJAGh6w-unsplash2.jpg);
    outline: #000;
    transform: scale(1.1);
    transition: 0.6s;
}
.card-img-2:hover {
    cursor: pointer;
    background-image:  linear-gradient(to bottom, rgba(138, 52, 52, 0.2),rgba(0, 0, 0, 0.86)), url(./wallpaperTruck/302367-Berserker.jpg);
    outline: #000;
    transform: scale(1.1);
    transition: 0.6s;
}
.card-img-3:hover {
    cursor: pointer;
    background-image:  linear-gradient(to bottom, rgba(138, 52, 52, 0.2),rgba(0, 0, 0, 0.86)), url(./wallpaperTruck/truck7.jpg);
    outline: #000;
    transform: scale(1.1);
    transition: 0.6s;
}
.card-img-4:hover {
    cursor: pointer;
    background-image:  linear-gradient(to bottom, rgba(138, 52, 52, 0.2),rgba(0, 0, 0, 0.86)), url(./wallpaperTruck/truck2.jpg);
    outline: #000;
    transform: scale(1.1);
    transition: 0.6s;
}

.card:hover .card-content p {
    visibility: visible;
    opacity: 1;
}

.card:hover .card-content {
    height: 200px;
    transition: 0.5s;
    background-color: rgb(53, 95, 81);
    width: 101%;
    margin-left: -1.4px;
}

/* ABOUT US */
.about-us-container {
    width: 1160px;
    height: 490px;
    display: flex;
    margin: auto;
}

.about-us-img {
    width: 185%;
    position: relative;
    top: -85px;
    margin-left: 60px;
}

.about-us-img > img {
    width: 100%;
    height: 100%;
}

.about-us-text {
    margin-top: 30px;
    padding: 20px;
}

/* FAQ AND FORM */
.faq-and-form-container {
    width: 1160px;
    height: 500px;
    margin: auto;
    display: flex;
}
/* FAQ */

.faq{
    width: 50%;
}
/* Accordion */

.accordion-header {
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    border-radius: 20px;
}
.accordion-header button.collapsed {
    background: #ffffff;
    box-shadow: none;
    color: #333;
    font-weight: 500;
    border-left: solid 5px #366464;
    
}
/* .accordion-header button.collapsed::after {
    display: none;
}

.accordion-header button:not(.collapsed)::after {
    display: none;
} */

.accordion-header button:not(.collapsed) {
    background: #366464;
    border-left: solid 5px #366464;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 10px 0;
}
div.accordion-body {
    /* background-color: #305858; */
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    margin: 15px 0;
    width: 100%;
}
#plus-1 {
    position: relative;
    right: -280px;
}
#plus-2 {
    position: relative;
    right: -189px;
}
#plus-3 {
    position: relative;
    right: 1px;
}
#plus-4 {
    position: relative;
    right: -187px;
}
#plus-5 {
    position: relative;
    right: -187px;
}

/* FORM */
.form {
    width: 50%;
    margin-left: 80px;
}
input {
    border: solid 1px rgb(162, 162, 162);
    border-radius: 6px;
    padding: 10px 20px;
}

.line-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#name {
    width: 240px;
}

#email {
    width: 280px;
}

#number {
    width: 100%;
    margin-bottom: 20px;
}

.line-3 textarea {
    width: 100%;
}

form button {
    padding: 10px 25px;
    background-color: #366464;;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    display: block;
    margin-top: 20px; 
}

form {
    padding: 25px 0;
}

/* partners */
#owl-width {
    width: 1146px;
    height: 140px;
    padding-left: 60px;
}
.owl-title {
    border-left: solid 6px #366464;
    font-size: 40px;
    padding-left: 20px;
    color: #a43732;
    /* margin-bottom: 40px; */
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Koulen', cursive;
    letter-spacing: 1.2px; 
    width: 250px;
    margin: 50px auto -20px;
}
.partners img {
    height: 150px;
    width: 400px;
}
.partners .card {
    width: 150px;
}
div.owl-nav {
    position: relative;
    top: -30px;
    font-size: 30px;
    display: none;
}
div.owl-dots {
    position: relative;
    top: -30px;
    display: none;
}

.footer {
    width: 100vw;
    height: 300px;
    background-color: #215252;
    color: #fff;
}
.footer-container {
    width: 1200px;
    margin: auto;
    display: flex;
    padding: 30px 30px 20px 30px;
    justify-content: space-around;
}

.footer-about-us {
    flex: 1.3;
}

.footer-contact {
    flex: 1.5;
    margin-left: 70px;
}

.links {
    flex: 0.6;
    margin-left: 50px;
}

.media {
    flex: 1;
    margin-left: 50px;
}
.media h5 {
    font-size: 16px;
    padding-bottom: 7px;
}

.footer-heading {
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    padding: 0 10px;
    border-left: solid 3px #fff;
    margin-bottom: 20px;
}

.footer {
    font-size: 18px;
    font-weight: 600;
}
.footer-contact .fa-solid {
    color: #fff;
    font-size: 17px;
    padding-right: 5px;
}

.links h5 {
    padding: 2px 0;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.links a:hover {
    font-size: 19px;
    color: #fff;
}

.logo {
    width: 100%;
    height: 40%;
    background-color: #fff;
    background-image: url(./IMG/logoo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 30px;
}









/* Employment Page */

.employ-l-page-content {
    position: absolute; 
    top: 36vh;
    left: 32vw;
}

.employ-l-page-content h2 {
    width: 550px;
    height: 200px;
    font-size: 100px;
    letter-spacing: 1.2px;
    color: #ffffff;
    margin-bottom: 45px;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Koulen', cursive;
}

.employ-heading {
    width: 700px;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

.employ-section-title {
    font-size: 35px;
    color: #333;
    font-weight: 700;
}

.employ-sub-title {
    font-size: 16px;
    letter-spacing: 1.1px;
    color: #555;
}

.employ-heading h3 {
    font-size: 25px;
    color: #444;
    font-weight: 650;
    margin-top: 30px;
}

.requirements {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #222;
    font-size: 18px;
}

.requirement-details {
    width: 1000px;
    /* height: 800px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.html-tick > .fa-check {
    font-size: 18px;
    color: #a43732;
    font-weight: bolder;
    padding-right: 7px;
}

.title-icon {
    width: 90px;
    height: 90px;
    /* border: solid 4px #366464;; */
    border: solid 4px #a43732;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-icon {
    width: 90px;
    margin: auto;
    margin-top: 30px;
}


.fa-suitcase, .fa-truck {
    color: #a43732;
}

.comp-title, .lease-title {
    text-align: center;
    border-bottom: solid 3px #366464;
    margin: 20px 0;
    padding-bottom: 10px;
}

.company-drivers, .lease-drivers {
    width: 450px;  
}

.comp-list, .lease-list p {
    font-weight: 700;
    color: #555;
    line-height: 15px;
}
.comp-list, .lease-list  {
    height: 380px;
    border-bottom: solid 3px #366464;
    padding-bottom: 30px;
}

.fa-money-bill-wave {
    font-size: 18px;
    margin-right: 10px;
    color: #a43732;
}

.pay {
    margin-top: 30px;
    font-weight: 700;
    color: #555;
    font-size: 18px;
    border-bottom: solid 3px #366464;
}

.pay  h6 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: #333;
}

.equipment {
    margin-top: 30px;
    font-weight: 700;
    color: #555;
    font-size: 18px;
}

.equipment h6 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: #333;
}

.fa-truck-front {
    font-size: 18px;
    margin-right: 10px;
    color: #a43732;
}

.lease-equipment {
    margin-top: 30px;
    font-weight: 700;
    color: #555;
    font-size: 18px;
    border-bottom: solid 3px #366464;   
}

.lease-equipment h6 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    color: #333;
}

/* EMPLOYMENT APPLICATION */
.employment-application {
    width: 100vw;
    height: 800px;
    background-color: rgb(239, 239, 239);
}
.employment-form {
    width: 1100px;
    margin: auto;
}
.application-title {
    margin: 30px;
    padding-top: 30px;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: 'Koulen', 'cursive';
    font-weight: 900;
    color: #5d5d5d;
}
.indiv-form > label {
    display: block;
    color: #555
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.indiv-form input {
    width: 300px;
}

select {
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 40px;
}

#select {
margin: 0 0 30px 0px;
}

#state-zip {
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
.sub-row {
    display: flex;
    flex-direction: column;
}

#state {
    width: 170px;
}

#zip {
    width: 100px;
}

#cdl {
    width: 300px;
    padding: 10px;
}

#expiration-ssn {
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
.sub-row {
    display: flex;
    flex-direction: column;
}

#expiration {
    width: 155px;
}

#ssn {
    width: 125px;
}

label span {
    color: #cd1e15;
    font-weight: 800;
}
#file {
    background-color: #fff;
    width: 510px;
    margin-top: 10px;
}
.indiv-form textarea {
    width: 550px;
}
#submit {
    width: 150px;
    border: 20px;
}


/* RESPONSIVE */
@media screen and (min-width: 1389.98px) {
    .navbar-nav {
        margin-left: 30vw;
    }
}


@media screen and (min-width: 1599.98px) {
    .section-title-try {
        width: 1260px;
    }
    .section-text {
        font-size: 20px;
    }
    /* NAVBAR */
    #custom-color {
        font-size: 20px;
        margin-right: 30px;
    }
    .custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
        font-size: 20px;
        margin-right: 30px;
    }
    .navbar-nav {
        margin-left: 400px;
    }
    div.container-fluid {
        width: 1350px;
        margin: auto;
    }
    .btn-apply-nav {
        font-size: 20px;
    }
    /* LANDING PAGE */
    .landing-page {
        height: 91vh;
    }
    .l-page-content {
        text-align: center;
        top: 22vh;
        left: 27vw;
    }
    .l-page-content h2 {
        width: 800px;
        margin-bottom:20px;
        padding-bottom: 0;
        height: 190px;
        font-size: 75px;
        letter-spacing: 4px;
    }
    #beyond {
        display: inline;
    }
    .l-page-content span {
        display: block;
    }
    .btn-apply {
        font-size: 30px;
        padding: 13px 60px;
    }
    .decor {
        width: 470px;
        top: -130px;
    }
    .welcome {
        width: 1260px;
    }
    .welcome-img img {
        margin-top: -170px;
    }
    .box {
        width: 32%;
    }
    .addition-to-welcome {
        font-size: 18px;
        width: 1260px;
    }
    /* MISSION */
    .mission-container {
        width: 1260px;
    }
    .mission-text {
        padding-right: 0;
    }
    /* SERVICES */
    .services-container {
        width: 1260px;
    }
    .card-container {
        justify-content: space-between;
    }
    /* ABOUT US */
    .about-us-container {
        width: 1260px;
    }
    .about-us-img {
        top: -70px;
    }
    .about-us-img > img {
        width: 110%;
        height: 110%;
    }
    /* FAQ AND FORM */
    .faq-and-form-container {
        width: 1260px;
    }
    .form {
        margin-left: 100px;
    }
    #plus-1 {
        position: relative;
        right: -320px;
    }
    #plus-2 {
        position: relative;
        right: -228px;
    }
    #plus-3 {
        position: relative;
        right: -16px;
    }
    #plus-4 {
        position: relative;
        right: -226px;
    }
    #plus-5 {
        position: relative;
        right: -226px;
    }
    #owl-width {
        width: 1260px;
        margin: auto;
        padding-left: 40px;
    }
    /* EMPLOYMENT */
    .employ-l-page-content {
       top: 37vh;
       left: 37vw;
    }
    
    .employ-l-page-content h2 {
        font-size: 120px;
    }
    .requirement-details {
        width: 1100px;
    }
}   


@media screen and (min-width: 1800px) {
    .l-page-content {
        top: 24vh;
        left: 29vw;
    }
    #owl-width {
        padding-left: 70px;
    }
}

/* decreasing screen sizes */
@media screen and (max-width: 1199.98px) {
    .navbar-nav {
        margin-left: 50px;
    }
    .section-title-try {
        width: 950px;
    }
    .l-page-content h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .decor {
        width: 270px;
        top: -75px;
    }
    .welcome {
        width: 950px;
        height: 450px;
    }
    .welcome-text {
        width: 55%;
    }
    .welcome-img img {
        padding-left: 0px;
        margin-top: -170px;
        height: 100%;
    }
    .addition-to-welcome {
        width: 950px;
    }
    .box {
        width: 33%;
    }
    .mission-container {
        width: 950px;
    }
    .mission-text {
        width: 48%;
        padding: 0px;
    }
    .mission-img {
        width: 52%;
        top: 30px;
    }
    .services-container {
        width: 950px;

    }
    .card-img-1 {
        height: 320px;
        width: 220px;
    }
    .card-img-2 {
        height: 320px;
        width: 220px;
    }
    .card-img-3 {
        height: 320px;
        width: 220px;
    }
    .card-img-4 {
        height: 320px;
        width: 220px;
    }
    .about-us-container {
        width: 950px;
    }
    .about-us-img {
        margin-left: 50px;
    }
    .about-us-img > img {
        width: 102%;
        height: 102%;
    }
    .faq-and-form-container {
        width: 950px;
        justify-content: space-between;
    }
    .form {
        margin-left: 45px;
        padding-right: 8px;
    }
    .footer-container {
        width: 950px;
        padding: 20px;
        padding-bottom: 0;
        margin: 0 10px;
        margin: auto;
    }
    .footer-about-us {
        flex: 1.6;
    }
    .footer-contact {
        flex: 1.8;
    }
    /* Employment */
    .requirements {
        width: 920px;
    }
    .requirement-details {
        width: 920px;
    }
    .company-drivers, .lease-drivers {
        width: 400px;  
    }
    .employment-form {
        width: 920px;
    }
    #file {
        width: 450px;
    }
    #app-textarea {
        width: 440px;
    }
}

@media screen and (max-width: 991.98px) {
    .offcanvas-header {
        height: 120px;
        width: 500px;
        margin-top: 20px;
    }
    .custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
        color: #333;
    }
    #custom-color {
        color: #333;
    }
    #nav-logo {
        width: 130px;
        height: 40px;
        position: relative;
        left: -30px;
    }

    .landing-page {
        height: 86vh;
    }
    .welcome {
        width: 700px;
        height: 1000px;
        margin: auto;
        display: flex;
        flex-direction:column-reverse ;
        padding: 0;
        align-items:flex-start;
    }
    .welcome-text {
        margin: 0 auto;
        height: 43%;
        width: 100%;
        padding: 20px;
        margin-top: -70px;
    }
    .welcome-img {
        margin: 0 auto;
        padding: 0;
        height: 53%;
        width: 90%;
    }
    .section-title-try {
        width: 700px;
        margin-bottom: 0;
        margin-left: 60px;
    }
    #welcome-title {
        margin-bottom: -70px;
    }
    .welcome-img img {
        height: 90%;
        width: 90%;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .addition-to-welcome {
        width: 760px;
        font-size: 15px;
    }
    .box.support {
        display: block;
    }
    .mission-container {
        width: 700px;
        height: 750px;
        flex-direction: column;
    }
    #mission-title {
        display: none;
    }
    #for-small-screens {
        display: block;
    }
    .mission-img {
        height: 47%; 
        width: 100%;
        margin: 0 auto 60px;
    }
    .mission-text {
        height: 50%; 
        width: 90%;
        margin: 0 auto;
    }
    #services-title {
        margin-left: -30px;
    }
    .services-container {
        width: 550px;
        height: 750px;
    }
    .card-container {
        flex-wrap: wrap;
    }
    .card-img-1 {
        height: 300px;
        width: 200px;
    }
    .card-img-2 {
        height: 300px;
        width: 200px;
    }
    .card-img-3 {
        height: 300px;
        width: 200px;
        margin-top: 30px;
    }
    .card-img-4 {
        height: 300px;
        width: 200px;
        margin-top: 30px;
    }
    .card:hover .card-content {
        width: 100%;
        height: 215px;
        margin-left: 0px;
    }
    .about-us-container {
        width: 700px;
        flex-direction: column-reverse;
        height: 750px;
        margin: auto;
    }
    .about-us-img {
        width: 95%;
        height: 60%;
        margin-bottom: -60px;
    }
    .about-us-content {
        width: 90%;
        margin: 0 auto 60px;
    }
    #about-us-title {
        display: none;
    }
    .about-us-responsive-title {
        margin-top: 50px;
        margin-bottom: -20px;
    }
    .faq-and-form-container {
        flex-direction: column;
        height: 1000px;
        width: 630px;
    }
    .faq {
        width: 100%;
        height: 50%;
    }
    .form .section-title {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .form {
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-top: 70px;
    }
    #name {
        width: 295px;
    }
    
    #email {
        width: 295px;
    }
    #owl-width {
        width: 700px;
        margin: auto;
        padding-left: 35px;
    }
    .footer {
        height: 480px;
    }
    .footer-container {
        width: 750px;
        height: 480px;
        flex-direction: column;
        padding: 20px 20px 0;
    }
    .footer-contact {
        margin-left: 0;
        margin-top: 20px;
    }
    .links {
        margin-left: 0;
        margin-top: 20px;
        position: relative;
        left: 360px;
        top: -240px;
        display: inline-block;
        width: 250px;
        height: 0;
    }
    .media {
        margin-left: 0;
        margin-top: 20px;
        position: relative;
        left: 500px;
        top: -270px;
        width: 230px;
        padding-left: 20px;
        height: 0;
    }
    .logo {
        height: 100px;
        width: 80%;
        margin-bottom: 30px;
    }
    /* EMPLOYMENT */
    .employ-l-page-content {
        left: 29vw;
        top: 37vh;
    }
    .employ-l-page-content h2 {
        width: 330px;
        font-size: 70px;
    }
    .requirements {
        width: 720px;
        flex-wrap: wrap;
    }
    .requirements p {
        width: 310px;
    }

    .requirement-details {
        width: 720px;
    }
    .company-drivers, .lease-drivers {
        width: 330px;
    }
    .employment-application {
        height: 1340px;
    }
    .employment-form {
        width: 720px;
        height: 1340px;
    }
    #select {
        width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-row {
        flex-direction: column;
        width: 500px;
        margin: auto;
    }
    .employment-form input {
        width: 500px;
    }
    #state-zip {
        width: 500px;
    }
    #state {
        width: 280px;
    }
    #zip {
        width: 190px;
    }
    #expiration-ssn {
        width: 500px;
    }
    #expiration {
        width: 280px;
    }
    #ssn {
        width: 190px;
    }
    #file {
        width: 500px;
    }
    #app-textarea {
        width: 500px;
    }
    .submit {
        width:500px;
        margin: auto;
    }
}

@media screen and (max-width: 767.98px) { 
    .offcanvas-header {
        height: 120px;
        width: 300px;
        margin-top: 20px;
    }
    .offcanvas-header img {
        width: 300px;
    }
    .custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
        color: #333;
        font-size: 18px;
        font-weight: 600;
        margin-right: 25px;
    }
    #custom-color {
        color: #333;
    }
    #custom-color:hover {
        transform: translateX(20px);
        transform: 0.6s;
    }
    .l-page-content h2 {
        width: 400px;
    }
    .welcome {
        width: 500px;
        height: 1000px;
        margin: auto;
        display: flex;
        flex-direction:column-reverse ;
        padding: 0;
        align-items:flex-start;
    }
    .welcome-img {
        width: 100%;
    }
    .section-title-try {
        width: 500px;
        margin-bottom: 0;
        margin-left: 60px;
    }
    .welcome-img img {
        height: 90%;
        width: 90%;
        padding-left: 0px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .addition-to-welcome {
        width: 450px;
        height: 470px;
        flex-wrap: wrap;
    }
    .box {
        width: 200px;
        margin: auto;
        margin-left: -10px;
    }
    .add-to-wel-title, .add-to-wel-text, .heading-img {
        width: 200px;
    }
    .support {
        width: 240px;
        margin: auto;
        margin-top: -20px;
    }
    
    .mission-container {
        width: 500px;
        height: 750px;
        flex-direction: column;
    }
    #mission-title {
        display: none;
    }
    #for-small-screens {
        display: block;
    }
    .mission-img {
        height: 47%; 
        width: 100%;
        margin: 0 auto 60px;
    }
    .mission-text {
        height: 50%; 
        width: 90%;
        margin: 0 auto;
    }
    #services-title {
        width: 500px;
        margin: auto;
        margin: 50px;

    }
    .about-us-container {
        width: 500px;
        flex-direction: column-reverse;
        height: 750px;
        margin: auto;
        margin-top: 80px;
    }
    .about-us-img {
        width: 95%;
        height: 60%;
        margin-bottom: -60px;
    }
    .about-us-content {
        width: 90%;
        margin: 0 auto 60px;
    }
    #about-us-title {
        display: none;
    }
    .about-us-responsive-title {
        margin-top: 70px;
        margin-bottom: -20px;
    }
    .faq-and-form-container {
        width: 450px;
    }

    #name {
        width: 210px;
    }
    
    #email {
        width: 210px;
    }
    #owl-width {
        width: 500px;
        margin: auto;
        padding-left: 55px;
    }
    .footer {
        height: 730px;
        padding-top: 20px;
    }
    .footer-container {
        width: 500px;
        height: 710px;
        flex-direction: column;
        padding: 20px 20px 0;
    }
    .footer-text {
        text-align: justify;
    }
    .footer-contact {
        margin-left: 0;
        margin-top: 30px;
        height: 25%;
    }
    .links {
        margin-left: 0;
        margin-top: 70px;
        position: relative;
        left: 0px;
        top: 0px;
        display: block;
        width: 250px;
        height: 25%;
    }
    .media {
        margin-left: 0;
        margin-top: 20px;
        position: relative;
        left: 230px;
        top: -188px;
        width: 230px;
        padding-left: 0px;
        display: block;
        height: 0;
    }
    .logo {
        height: 100px;
        width: 80%;
        margin-bottom: 30px;

    }
    .offcanvas-header img {
        width: 170px;
    }
    /* EMPLOYMENT */
    .employ-l-page-content {
        left: 21vw;
        top: 37vh;
        width: 330px;
    }
    .employ-l-page-content h2 {
        width: 330px;
        text-align: center;
        font-size: 70px;
    }
    .employ-heading {
        width: 520px;
    }
    .employ-section-title {
        font-size: 28px;
    }
    .employ-sub-title {
        font-size: 15px;
    }
    .requirements {
        width: 530px;
        flex-wrap: wrap;
    }
    .requirements p {
        width: 210px;
        font-size: 16px;
    }
    .requirements p:nth-child(3) {
        width: 290px;
    }

    .requirement-details {
        width: 520px;
        flex-direction: column;
    }
    .company-drivers, .lease-drivers {
        width: 430px;
        margin: auto;
    }
    .employment-application {
        height: 1340px;
    }
    .employment-form {
        width: 520px;
        height: 1340px;
    }
    .application-title {
        font-size: 35px;
    }
    #select {
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-row {
        flex-direction: column;
        width: 400px;
        margin: auto;
    }
    .employment-form input {
        width: 400px;
    }
    #state-zip {
        width: 400px;
    }
    #state {
        width: 200px;
    }
    #zip {
        width: 170px;
    }
    #expiration-ssn {
        width: 400px;
    }
    #expiration {
        width: 200px;
    }
    #ssn {
        width: 170px;
    }
    #file {
        width: 400px;
    }
    #app-textarea {
        width: 400px;
    }
    .submit {
        width:400px;
        margin: auto;
    }
    #submit {
        margin-top: 10px;
    }
}

 @media screen and (max-width: 575.98px) { 
    .offcanvas-header {
        height: 70px;
        width: 200px;
        margin-top: 20px;
    }
    #nav-logo {
        left: -50px;
    }
    #custom-color {
        color: #333;
        margin-left: -30px;
    }

    .custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
        color: #333;
        margin-left: -30px;
    }
    .btn-apply-nav {
        margin-left: -30px;
    }
    .l-page-content {
        top: 25vh;
        left: 14vw;
    }
    .landing-page h2 {
        width: 340px;
        font-size: 45px;
        margin-bottom: 0;
        height: 180px;
    }
    .btn-apply {
        padding: 10px 20px;
        font-size: 18px;
    }
    .welcome {
        width: 400px;
        height: 1000px;
    }
    .welcome-img {
        height: 350px;
        position: relative;
        top: -150px;
    }
    .welcome-img img {
        height: 100%;
        margin-left: 17px;
        /* margin-top: -200px; */
    }
    .welcome-text {
        margin-top: -150px;
        height: 500px;
        margin-bottom: 50px;
    }
    .section-title-try {
        width: 350px;
        margin-left: 20px;
        margin-top: -20px;
        font-size: 28px;
    }
    .addition-to-welcome {
        width: 400px;
        height: 800px;
        margin: auto;
        margin-top: -70px;
        margin-bottom: 60px;
    }
    .box {
        width: 300px;
        margin: 10px auto;
        box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    }
    .add-to-wel-title, .add-to-wel-text, .heading-img {
        width: 250px;
    }
    .mission-container {
        width: 400px;
        height: 820px;
        margin-bottom: 40px;
    }
    #services-title {
        width: 350px;
        margin-top: 0px;
        margin-left: 20px;
        font-size: 28px;
    }
    .services-container {
        width: 400px;
        height: 1750px;
    }
    .card-container {
        flex-wrap: wrap;
    }
    .card-img-1 {
        height: 370px;
        width: 300px;
    }
    .card-img-2 {
        height: 370px;
        width: 300px;
        margin-top: 40px;
    }
    .card-img-3 {
        height: 370px;
        width: 300px;
        margin-top: 30px;
    }
    .card-img-4 {
        height: 370px;
        width: 300px;
        margin-top: 30px;
    }
    .card:hover .card-content {
        width: 100%;
        height: 215px;
        margin-left: 0px;
    }
    .about-us-container {
        width: 400px;
    }
    .about-us-img {
        margin-left: 0;
    }
    .faq-and-form-container {
        width: 360px;
        height: 1100px;
    }
    .about-us-responsive-title {
        margin-bottom: 110px;
    }
    .section-title {
        font-size: 28px;
    }
    .form .section-title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .line-1 {
        flex-direction: column;
    }
    #name {
        display: block;
        width: 352px;
        margin-bottom: 20px;
    }
    #email {
        display: block;
        width: 352px;
    }
    .line-2 {
        margin-bottom: 3px;
    }
    .owl-title {
        font-size: 28px;
        margin-top: 50px;
        width: 360px;
    }
    #owl-width {
        width: 400px;
        padding-left: 30px;
        margin: auto;
    }
    .item{
        padding-left: 90px;
    }
    .footer {
        height: 1030px;
    }
    .footer-container {
        width: 400px;
        height: 1010px;
    }
    .links {
        margin-top: 20px;
    }
    .footer-contact {
        margin-top: 20px;
    }
    .media {
        left: 0;
        top: 0;
        height: 25%;

    }

    /* EMPLOYMENT */
    .employ-l-page-content {
        left: 9vw;
        top: 37vh;
        width: 330px;
    }
    .employ-l-page-content h2 {
        width: 330px;
        text-align: center;
        font-size: 70px;
    }
    .employ-heading {
        width: 340px;
    }
    .employ-section-title {
        font-size: 25px;
    }
    .employ-sub-title {
        font-size: 15px;
    }
    .requirements {
        width: 340px;
        flex-wrap: wrap;
    }
    .requirements p {
        width: 210px;
        font-size: 16px;
    }
    .requirements p:nth-child(3) {
        width: 290px;
    }

    .requirement-details {
        width: 340px;
        flex-direction: column;
    }
    .company-drivers, .lease-drivers {
        width: 340px;
        margin: auto;
    }
    .employment-application {
        height: 1370px;
    }
    .employment-form {
        width: 340px;
        height: 1370px;
    }
    .application-title {
        font-size: 27px;
    }
    #select {
        width: 340px;
        margin: auto;
        margin-bottom: 20px;
    }
    .form-row {
        flex-direction: column;
        width: 340px;
        margin: auto;
    }
    .employment-form input {
        width: 340px;
    }
    #state-zip {
        width: 340px;
    }
    #state {
        width: 180px;
    }
    #zip {
        width: 140px;
    }
    #cdl {
        width: 340px;
    }
    #expiration-ssn {
        width: 340px;
    }
    #expiration {
        width: 170px;
    }
    #ssn {
        width: 140px;
    }
    #file {
        width: 340px;
    }
    #app-textarea {
        width: 340px;
    }
    .submit {
        width:340px;
        margin: auto;
    }
    #submit {
        margin-top: 10px;
    }
}

@media screen and (max-width: 410px) { 
    .offcanvas-header {
        height: 70px;
        width: 200px;
        margin-top: 20px;
    }
    #custom-color {
        color: #333;
        margin-left: -30px;
    }
    .custom-color-1, .custom-color-2, .custom-color-3, .custom-color-4 {
        color: #333;
        margin-left: -30px;
    }
    .btn-apply-nav {
        margin-left: -30px;
    }
    .l-page-content {
        top: 25vh;
        left: 12vw;
    }
    .landing-page h2 {
        width: 300px;
        font-size: 45px;
        margin-bottom: 0;
        height: 180px;
    }
    .btn-apply {
        padding: 10px 20px;
        font-size: 18px;
    }
    .welcome {
        width: 340px;
        height: 1000px;
    }
    .welcome-img {
        height: 350px;
        position: relative;
        top: -150px;
    }
    .welcome-img img {
        height: 100%;
        /* margin-top: -200px; */
    }
    .welcome-text {
        margin-top: -150px;
        height: 500px;
        margin-bottom: 50px;
    }
    .section-title-try {
        width: 300px;
        margin-left: 15px;
        margin-top: -20px;
        font-size: 28px;
    }
    .addition-to-welcome {
        width: 340px;
        height: 800px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 80px;
    }
    .box {
        width: 300px;
        margin: 10px auto;
        box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
    }
    .add-to-wel-title, .add-to-wel-text, .heading-img {
        width: 250px;
    }
    .mission-container {
        width: 340px;
        height: 900px;
        margin-bottom: 80px;
    }
    #services-title {
        width: 300px;
        margin-top: 60px;
        margin-left: 15px;
        font-size: 28px;
    }
    .services-container {
        width: 340px;
        height: 1750px;
    }
    .card-container {
        flex-wrap: wrap;
    }
    .card-img-1 {
        height: 370px;
        width: 300px;
    }
    .card-img-2 {
        height: 370px;
        width: 300px;
        margin-top: 40px;
    }
    .card-img-3 {
        height: 370px;
        width: 300px;
        margin-top: 30px;
    }
    .card-img-4 {
        height: 370px;
        width: 300px;
        margin-top: 30px;
    }
    .card:hover .card-content {
        width: 100%;
        height: 215px;
        margin-left: 0px;
    }
    .about-us-container {
        width: 340px;
    }
    .about-us-img {
        margin-left: 0;
    }
    .faq-and-form-container {
        width: 310px;
        height: 1100px;

    }
    .section-title {
        font-size: 28px;
    }
    .form .section-title {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .line-1 {
        flex-direction: column;
    }
    #name {
        display: block;
        width: 302px;
        margin-bottom: 20px;
    }
    #email {
        display: block;
        width: 302px;
    }
    .line-2 {
        margin-bottom: 3px;
    }
    .owl-title {
        font-size: 28px;
        margin-top: 90px;
        width: 340px;
    }
    #owl-width {
        width: 350px;
        padding-left: 10px;
    }
    .footer {
        height: 1090px;
    }
    .footer-container {
        width: 340px;
        height: 1070px;
    }
    .links {
        margin-top: 20px;
    }
    .footer-contact {
        margin-top: 20px;
    }
    .media {
        left: 0;
        top: 0;
        height: 25%;

    }

}

/* EMPLOYMENT RESPONSIVE */
